header {
    height: 90px;
    background-color: white;
  }
  
  .bg-orangeAlterra {
    background-color: #f47522 !important;
  }
  
  .font-orangeAlterra {
    color: #f47522 !important;
  }
  
  .font-navyAlterra {
    color: #19345e !important;
  }
  
  a {
    font-size: 15px;
  }
  
  .container-button-contact {
    border: 1px solid #f47522;
    width: 130px;
    height: 38px;
    border-radius: 50px;
  }
  
  .button-contact {
    text-decoration: none;
    line-height: 38px;
    margin-left: 35px;
  }

  #hero {
    height: 200px;
    background-image: url(../img/img_blog.jpg);
    background-size: cover;
    background-position: center;
  }

  .jumbotron {
    height: 100px;
    align-items: center;
  }

  #blog {
    text-align: center;
    padding: 50px;
  }

  #footer {
    background-color: rgb(25, 52, 94);
  }

  #footerContainer {
    /* display: flex; */
    color: white;
    /* justify-content: center; */
    
   
  }

  #footerLogo {
    display: flex;
    justify-content: left;
    align-items: center;
  }

  #footerSosmed {
    display: flex;
    justify-content: center;
    align-items:center;
  }

  #footerCopyright {
    display: flex;
    justify-content: right;
    align-items: center;
  }