nav {
  /* border: solid black; */
  height: 90px;
}

.bg-orangeAlterra {
  background-color: #f47522 !important;
}

.bg-blueAlterra {
  background-color: #19345e !important;
}

.font-orangeAlterra {
  color: #f47522 !important;
}

.font-bluAlterra {
  color: #19345e !important;
}

a {
  font-size: 15px;
}

.container-button-contact {
  border: 1px solid #f47522;
  width: 130px;
  height: 38px;
  /* padding: 5px; */
  border-radius: 50px;
}

.button-contact {
  text-decoration: none;
  line-height: 38px;
  margin-left: 30px;
}

.borderLine {
  border: solid red;
}

.borderLine3 {
  border: solid yellow;
}

.borderLine2 {
  border: solid black;
}

footer {
  height: 141px;
  font-size: 14px;
}

/* footer div:nth-child(1) {
  text-align: center;
  line-height: 141px;
} */
