/* tool */
.bm {
    border: solid red !important;
  }
  
  .bb {
    border: solid blue !important;
  }
  .bh {
    border: solid green !important;
  }
/* tool */

.bg-orangeAlterra {
    background-color: #f47522 !important;
  }
  
  .font-orangeAlterra {
    color: #f47522 !important;
  }
  
  .font-navyAlterra {
    color: #19345e !important;
  }

body {
    margin-top: 50px;
    background-image: url(../img/ornament_batik.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position-x: left;
    background-position-y: top;
}

/* judul */
.bagianJudul{
    height: 176px;
    text-align: center;
    padding: 60px 100px;
  }
  .judul{
      font-size: 35px;
      font-family: 'Muli', sans-serif;
      font-weight: 600;
  
  }
  .judul:after, .judul:before{
      content: '\2014';
      color: #f47522;
  }
  /* selesai judul*/

main {
    background-image: url(../img/ornament_batik.png);
    background-size: 100px;
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
}

#about {
    display: grid;
    justify-content: center;
    height: 100px;
}

.background-frame {
    background-image: url(../img/shutterstock_796346011@2x.png);
    background-repeat: no-repeat;
    background-position: 20px, -20px;
    height: 300px;
    width: 250px;
    background-size: 220px;
  }

.space {
    height: 35px;
}

.frame {
    height: 265px;
    width: 220px;
    border: 10px solid #f47522;

}

.frame-frontend {
    height: 265px;
    width: 220px;
    border: 10px solid #19345e;
}

#table {
    display: grid;
    align-content: center;
    margin-top: 40px;
}

#table tr {
    color: #19345e;
}

#table a {
    text-decoration: none;

}

#education img {
    margin-top: -5px;
}

#border {
    border: 2px solid;
}

footer .container-fluid {
    min-height: 150px;
    background-color: rgb(25, 52, 94);
    color: white;
    display: grid;
    align-content: center;
}

#copyright {
    display: grid;
    align-items: center
}

#sosmed img {
    margin-right: 10px;
}